
/* Set hyperlink color */
:root>* {
    --md-typeset-a-color: #E43955;
}


[data-md-color-scheme="light"] {
    --md-primary-fg-color:        #fff;
    --md-primary-fg-color--light:        #ddd;
    --md-primary-fg-color--dark:         #181818;

    --md-primary-bg-color:               #181818;
    --md-primary-bg-color--light:        #666;
    --md-primary-bg-color--dark:        #000;

    --md-accent-fg-color:                #F0D000;
    --md-accent-bg-color:                #E43955;
}

[data-md-color-scheme="dark"] {
    --md-hue: 210; 

    --md-primary-fg-color:        #181818;
    --md-primary-fg-color--light:        #ddd;
    --md-primary-fg-color--dark:         #181818;

    --md-primary-bg-color:               #fff;
    --md-primary-bg-color--light:        #666;
    --md-primary-bg-color--dark:        #000;

    --md-default-fg-color: #fff;
    --md-default-fg-color--light: #fff;
    
    --md-default-bg-color: #1a1a1a;
    --md-default-bg-color--light: #fff;
    --md-default-bg-color--dark: #fff;
    
    --md-typeset-color: #fff;
    --md-typeset-hl-color: #fff;
    
    --md-accent-fg-color:                #F0D000;
    --md-accent-bg-color:                #E43955;

    --md-code-fg-color: #fff;
    --md-code-bg-color: #444;
}

/* :root {
    --main-bg-color: #fff;
    --main-bg-color--light: #fff;
    --main-bg-color--dark: #fff;

    --header-bg-color: #fff;

    --md-primary-fg-color: #fff;
    --md-primary-fg-color--light: #fff;
    --md-primary-fg-color--dark: #000;

    --md-primary-bg-color: #000;
    --md-primary-bg-color--light: #000;
    --md-primary-bg-color--dark: #fff;

    --md-accent-fg-color: #000;
    --md-accent-bg-color: #fff;
} */

