/**
* COMMON
**/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    padding: 0 0 2.5rem 0;
    background-color: #FFFFFF;
}

.slide {
    margin: 0 auto 5rem auto;
    background-color: #FFFFFF;
}

.content-slide {
    padding: 2rem 3.25rem 0 3.25rem;
}

.slide-content {
    padding-bottom: 0.25rem;
}

.slide-content>h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #212121;
    padding-bottom: 0.938rem;
}

.slide-content>h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #606A73;
    padding-bottom: 1.438rem;
}

.slide-content .widget-title {
    font-size: 1.125rem;
    color: #606A73;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.slide>.slide-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 3.25rem;
}

.slide-footer .branding {
    margin-right: 1.866rem;
    width: 4.125rem;
    height: auto;
}

.slide-footer .copyrights {
    margin-right: 1rem;
}

.slide-footer .report-name {
    margin-right: 11.563rem;
}

.slide-footer .separator {
    margin: 0 1rem;
}

.slide-footer p {
    font-size: 0.75rem;
    color: #606A73;
}


.custom-breadcrumbs {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    color: #606A73;
    padding-bottom: 1rem;
}

.breadcrumb-separator {
    padding-left: 1.286rem;
    padding-right: 0.786rem;
}

.active-breadcrumb {
    color: #212121;
    font-weight: 700;
}

.content-tile {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.tile-title {
    font-size: 0.875rem;
}

.content-tile > .footnote {
    color: #606A73;
    font-size: 0.75rem;
    padding-top: 1.5rem;
}

.stat-label {
    color: #212121;
    font-size: 0.875rem;
    font-weight: 400;
}

.stat-metric {
    color: #212121;
    font-size: 2rem;
    font-weight: 800;
}

.severity-tag {
    background-color: #CBD6E0;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    border-radius: 0.125rem;
}

.tags-list>p {
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
}

.critical-shade {
    background-color: #FFD2CB !important;
    color: #910A15 !important;
}

.major-shade {
    background-color: #FFEAC9 !important;
    color: #AA4C00 !important;
}

.minor-shade {
    background-color: #FDE39B !important;
    color: #875A0B !important;
}

.critical-bg {
    background-color: #DF2427 !important;
}

.major-bg {
    background-color: #E67E22 !important;
}

.minor-bg {
    background-color: #FAC73A !important;
}

th {
    font-size: 0.875rem;
    padding: 0.875rem 0 !important;
    border-bottom: 0.063rem solid #606A73 !important;
}

td {
    padding: 1.688rem 0 !important;
    border-bottom: 0.063rem solid #CBD6E0 !important;
}

tbody>tr:last-child>td {
    border-bottom: 0 !important;
}

td > .progress {
    margin-top: 0.275rem;
}

.legend-container {
    margin-right: 1.699rem;
}

.legend-square {
    width: 1rem;
    height: 1rem;
    border-radius: 0.125rem;
    margin-right: 0.313rem;
}

table .severity-tag {
    width: fit-content;
}

table .progress {
    width: 5.625rem;
}

table {
    margin: 0 !important;
}

.test-success-stat-group {
    padding-right: 7.125rem;
}

.test-severity-stat-group {
    margin-right: 2.688rem;
    min-width: 10rem;
    display: flex;
    justify-content: space-around;
}

.severity-indicator > span {
    display: block;
    height: 1rem;
    width: 0.188rem;
    border-radius: 0.188rem;
    margin-right: 0.125rem;
    background-color: #CBD6E0;
}

.critical-stat-group {
    background-color: #FFF2F0;
    border: #DF2427 solid 0.063rem;
}

.major-stat-group {
    background-color: #FFF9F0;
    border: #E67E22 solid 0.063rem;
}

.minor-stat-group {
    background-color: #FFFDF0;
    border: #FAC73A solid 0.063rem;
}

/**
* INTRO SLIDE
**/
.intro-slide {
    min-height: 64rem;
    padding-left: 5.852rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../assets/images/bg.png") center center / cover no-repeat;
}

.intro-slide>.branding {
    padding-top: 10rem;
    width: 8.75rem;
    height: auto;
}

.intro-slide .row {
    padding-top: 2.125rem;
}

.intro-slide .col-6 > p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
}

.intro-slide>.intro-footer {
    font-size: 1.5rem;
    padding-bottom: 4.875rem;
    font-weight: 400;
}

.intro-footer p {
    color: #FFFFFF;
}

.intro-slide .intro-divider {
    background-color: #285AE6;
    width: 11.063rem;
    height: 0.5rem;
    margin: 1.25rem 0;
}

.intro-title>h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #FFFFFF;
}

.intro-title>h3 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 400;
}

.intro-title>h6 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 800;
}

.intro-title>.row {
    margin: 0;
}


/**
* TITLE SLIDE
**/
.title-slide {
    padding-left: 5.852rem;
    display: flex;
    flex-direction: column;
    background: url("../assets/images/bg.png") center center / cover no-repeat;
    justify-content: space-around;
}

.opening-title>h1 {
    font-size: 4.5rem;
    color: #FFFFFF;
    font-weight: 800;
}

.opening-title>h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
}

.title-footer {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.title-footer>p {
    color: #FFFFFF;
    font-weight: 800;
}

/**
* TABLE OF CONTENTS
**/
.table-slide {
    padding: 3.438rem 0 0 5.75rem;
}

.table-slide>.title {
    display: flex;
    align-items: center;
    padding-bottom: 5.438rem;
}

.table-slide h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.table-slide .block {
    height: 4.625rem;
    width: 1.5rem;
    background-color: #285AE6;
    margin-right: 0.938rem;
}

.table-slide>.table-link {
    display: block;
    color: #212121;
    font-size: 1.5rem;
    padding-bottom: 3.75rem;
}

/**
* FUZZ TESTS SUMMARY
**/
.fuzz-tests-summary .statistics {
    padding-bottom: 2.125rem;
}

.fuzz-tests-summary .statistic-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 6.875rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.fuzz-tests-summary .distribution-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 36.688rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
}

.fuzz-tests-summary .distribution-stat-container {
    padding-bottom: 2rem;
}

.fuzz-tests-summary .distribution-by-severity {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.fuzz-tests-summary .distribution-by-severity>div {
    padding-bottom: 0.875rem;
}

.fuzz-tests-summary .distribution-by-severity .severity-value {
    font-size: 0.875rem;
    color: #606A73;
}

.fuzz-tests-summary .distribution-by-severity .progress-container {
    margin: 0 1rem;
}

.frequent-violations {
    margin-top: 1rem;
}

.frequent-violations>.violation {
    background-color: #F2F6FB;
    padding: 1.75rem 1rem;
    border-radius: 0.5rem;
}

.violation:not(:last-child) {
    margin-bottom: 1.563rem;
}

.violation .violation-metric {
    color: #606A73;
    font-size: 0.875rem;
    padding-top: 0.5rem;
}

.violation-donut-container {
    position: relative;
}

.violation-donut-container>.violation-donut-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #606A73;
    font-size: 0.875rem;
    font-weight: 600;
}


/**
* OWASP API TOP 10
**/
.owasp-api-top-10 .statistics {
    margin-bottom: 2.125rem;
}

.owasp-api-top-10 .table td {
    padding: 0.75rem 0 !important;
    font-size: 0.875rem;
}

.owasp-api-top-10 .owasp-api-top-10-tile {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

/**
* OVERALL FUZZ TEST ISSUES
**/
.overall-fuzz-test-issues .table-container {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 43.25rem;
    margin-right: 2.125;
    padding: 1.5rem;
}

.overall-fuzz-test-issues .table-label {
    font-size: 0.875rem;
    padding-bottom: 3.688rem;
}

.test-summary-table td:nth-child(1) {
    width: 60% !important;
    font-size: 0.875rem;
}
.test-summary-table td:nth-child(2) {
    width: 15% !important;
    font-size: 1.125rem;
    text-align: center;
}
.test-summary-table td:nth-child(3) {
    width: 25% !important;
    font-size: 1.125rem;
    text-align: center;
}

/**
* OB SUMMARY
**/
.ob-summary  .test-statistics {
    padding-bottom: 2.125rem;
}

.ob-summary  .row {
    margin: 0;
}

.ob-summary  .col-3 {
    margin: 0;
    padding: 0;
}

.ob-summary .statistic-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 6.875rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.statistic-col>.icon-container {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #F0F6FF;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #606A73;
    margin-right: 1rem;
}

.statistic-col .stat-label {
    color: #212121;
    font-size: 0.875rem;
    font-weight: 400;
}

.statistic-col .stat-metric {
    color: #212121;
    font-size: 2rem;
    font-weight: 800;
}

.ob-summary .severity-statistics {
    margin-bottom: 2.125rem;
}

.ob-summary .affected-classification-container {
    padding: 0 1rem;
    margin-top: 1rem;
    border-left: 0.125rem solid #ACB9C5;
}

.ob-summary .affected-classification-container > p {
    font-weight: 600;
}

.apis-with-failed-tests-table th:nth-child(1) {
    width: 60% !important;
    font-size: 0.875rem;
}

.apis-with-failed-tests-table a {
    color: #285AE6;
    text-decoration: none;
}

.apis-with-failed-tests-table a:hover {
    text-decoration: underline;
}

.apis-with-failed-tests-table td:nth-child(1) {
    width: 60% !important;
    font-size: 0.875rem;
}

/**
* FAQ
**/
.faq .feedback {
    margin-top: 1.813rem;
    background-color: #F0F6FF;
    border: 0.063rem solid #5081F2;
}

.faq .feedback p {
    font-size: 1.125rem;
    font-weight: 600;
}

.faq .feedback a {
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #285AE6;
    color: #FFFFFF;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.faq .feedback a:hover {
    color: #FFFFFF;
    cursor: pointer;
    background-color: rgb(23, 68, 196);
}

.faq .severity-description {
    margin-bottom: 2rem;
}

.faq .severity-indicator {
    margin-right: 0.375rem;
}
