@media print {
    @page {
        /* size: 297mm 210mm; */
        size: A4 landscape;
        /* size: landscape; */
        margin: 0;
    }

    /* html,
    body {
        width: 210mm;
        height: 297mm;
    } */

    .slide {
        page-break-inside: avoid !important;
    }

    /* .table-tile {
        margin-bottom: 2cm;
        page-break-inside: avoid !important;
    } */
}