.mosaic-widget fieldset {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    margin: 0;
    padding: 0;
}

.mosaic-widget fieldset>label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
}

.mosaic-widget fieldset>label>input[type="radio"] {
    margin-right: 0.25rem;
}

.mosaic-widget fieldset>legend {
    font-size: inherit;
    margin: 0;
}

.mosaic-widget {
    margin-top: 10px;
    margin-bottom: 0.5rem;
}

.mosaic-widget label {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 10px;
}

.mosaic-widget label>select,
.mosaic-widget .input-search,
.mosaic-widget .ts-wrapper,
label>input[type="range"] {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.mosaic-widget .input-search {
    width: 150px;
}

.mosaic-widget label>input[type="range"] {
    margin-right: 0.25rem;
}

.mosaic-widget div[style*="display: flex"][style*="flex-flow: row"] {
    align-items: center !important;
    /* or whatever you need */
}


.mosaic-widget .slider-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 0.5rem;
}

.mosaic-widget .slider-input label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mosaic-widget .slider-input .noUi-target {
    margin: 0;
}

.mosaic-widget .slider-input .slider-value {
    margin: 0;
    margin-bottom: 10px;
}

.vscode-dark .mosaic-widget {
    color: rgb(52, 58, 64);
}