@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bs5/functions";

// 2. Include any default variable overrides here
@import "variables";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bs5/variables";
@import "bs5/variables-dark";

// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "bs5/maps";
@import "bs5/mixins";
@import "bs5/root";

$enable-grid-classes: true;
$enable-cssgrid: false;

// 6. Optionally include any other parts as needed
@import "bs5/utilities";
@import "bs5/root";
@import "bs5/reboot";
@import "bs5/type";
@import "bs5/images";
@import "bs5/containers";
@import "bs5/grid";
@import "bs5/tables";
@import "bs5/forms";
@import "bs5/buttons";
@import "bs5/transitions";
@import "bs5/dropdown";
@import "bs5/button-group";
@import "bs5/nav";
@import "bs5/navbar";
@import "bs5/card";
@import "bs5/accordion";
@import "bs5/breadcrumb";
@import "bs5/pagination";
@import "bs5/badge";
@import "bs5/alert";
@import "bs5/progress";
@import "bs5/list-group";
@import "bs5/close";
@import "bs5/toasts";
@import "bs5/modal";
@import "bs5/tooltip";
@import "bs5/popover";
@import "bs5/carousel";
@import "bs5/spinners";
@import "bs5/offcanvas";
@import "bs5/placeholders";

@import "bs5/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bs5/utilities/api";

// 8. Include Bootstrap Docs stylesheets
@import "bd/variables";
@import "bd/navbar";
@import "bd/masthead";
@import "bd/ads";
@import "bd/content";
@import "bd/skippy";
@import "bd/sidebar";
@import "bd/layout";
@import "bd/toc";
@import "bd/footer";
@import "bd/component-examples";
@import "bd/buttons";
@import "bd/callouts";
@import "bd/brand";
@import "bd/colors";
@import "bd/clipboard-js";
@import "bd/placeholder-img";
@import "bd/scrolling";

// Load docs dependencies
@import "bd/syntax";
@import "bd/anchor";


.custom-grid {
  @extend .hstack;
  @extend .flex-wrap;
  > * {
    @extend .col-6;
    @extend .p-1;
  }
}



.subpalace-carousel {
  .card {
    .image {
      @extend .col-5;
    }
  }
  .col-md-7 {
    @extend .col-7;
  }
  .card-title {
    @extend .fs-6;
  }
}


.shadow-inset {
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.25);
}

.bg-train {
  background-color: $train;
}
