[buildout]
develop = .
parts = test checker coverage-test coverage-report py
versions = versions


[versions]
zc.recipe.egg = 2.0.7
lxml = 4.6.3


[test]
recipe = zc.recipe.testrunner
eggs = p01.json [test]
       future
defaults = ['--tests-pattern', '^f?tests$']


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/json


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.json [test]
       future
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
       future
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')


[py]
recipe = zc.recipe.egg
eggs = p01.json
       future
interpreter = python
