.o_message_content_wrapper {
    white-space: normal;
}

.o_message_group_field div,
.o_message_group_field blockquote div {
    color: #000000;
    line-height: 1.5;
}
.o_message_group_field blockquote p {
    color: rgb(73, 80, 87);
}
.o_custom_tooltip {
    padding: 12px;
}
