[buildout]
develop = .
versions=versions
parts = test
        checker


[versions]
soupsieve = 1.9.6
backports.functools-lru-cache = 1.6.6
pyflakes = 2.1.1


[test]
recipe = zc.recipe.testrunner
eggs = j01.editor [test]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/editor
