$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: 'Poppins', sans-serif;

// // Blue & Green Theme
// $primary: #4A90E2;         // Soft Blue
// $secondary: #50E3C2;       // Light Green
// $warning: #F8E71C;         // Lemon Yellow
// $light: #FFFFFF;           // White
// $dark: #2A2A2A;            // Dark Gray for text

// Teal & Orange Theme
$primary: #00A896;         // Teal
// $secondary: #FF9F1C;       // Soft Orange
$light: #F4F4F9;           // Off-White
$dark: #4A4A4A;            // Charcoal
$warning: #FF9F1C;         // Soft Orange (also used as an accent color)
$train: #651b9e;           // Teal (also used as an accent color)
// // Navy & Gold Theme
// $primary: #002855;         // Navy Blue
// $secondary: #FFD166;       // Golden Yellow
// $light: #E0E1DD;           // Light Gray
// $dark: #2A2A2A;            // Dark Gray for text
// $warning: #FFD166;         // Golden Yellow (also as an accent color)

// // Purple & Mint Theme
// $primary: #9B5DE5;         // Light Purple
// $secondary: #00F5D4;       // Mint
// $warning: #F15BB5;         // Coral
// $light: #FEE440;           // Cream
// $dark: #2A2A2A;            // Dark Gray for text

// // Monochramatic Blues & Bright Accents
// $primary: #0D3B66;         // Dark Blue
// $secondary: #3F88C5;       // Medium Blue
// $info: #85C7F2;            // Light Blue
// $warning: #F4D35E;         // Bright Yellow
// $light: #FFFFFF;           // White


// $border-radius: 1rem;
// $border-radius: 0;
$enable-shadows: false;
$enable-gradients: false;
// $body-emphasis-color: $secondary;
// $nav-underline-link-active-color:   var(--#{$prefix}emphasis-color);
// defaults
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   // xl: 960px,
//   // xxl: 960px
// );
