#drawing {
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: var(--accent-color);
    transition: background-color 0.3s ease;
}

#points circle {
  fill: var(--text-color);
  stroke: var(--background-color);
  stroke-width: 3;
  vector-effect: non-scaling-stroke;
}

#points circle.given.selected {
  stroke: var(--select-color);
  fill: var(--background-color);
}

#points circle.selected {
  stroke: var(--select-color);
  fill: var(--background-color);
}

#points circle.given {
    fill: #6F6;
}
#points circle:hover,
#points circle.hover {
    fill: var(--select-color);
}

#elements line {
  fill: none;
  stroke: #999;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#elements circle {
  fill: none;
  stroke: #C09;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#elements polyline.polynomial {
  stroke: #90ee90; /* lightgreen */
  fill: none;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#elements line:hover, #elements line.hover,
#elements circle:hover, #elements circle.hover,
#elements polyline.polynomial:hover, #elements polyline.polynomial.hover {
  stroke: var(--select-color);
  stroke-opacity: 1;
}

#elements line.golden {
  stroke: gold;
}

#elements circle.golden {
  stroke: gold;
}

#graphics polyline {
  stroke: #36c9;
  fill: none;
  stroke-width: 8;
  vector-effect: non-scaling-stroke;
}

#graphics polygon {
  stroke: #36c9;
  fill: #36c3;
  stroke-width: 8;
  vector-effect: non-scaling-stroke;
  marker-start: url(#marker);
  marker-mid: url(#marker);
  marker-end: url(#marker);
}

#graphics polyline.section {
  stroke: rgba(51, 102, 204, 0.1);
  marker-start: url(#marker);
  marker-mid: url(#marker);
  marker-end: url(#marker);
}

#graphics polyline.segment {
  stroke: #90ee90; /* lightgreen */
  marker-start: url(#marker);
  marker-mid: url(#marker);
  marker-end: url(#marker);
}

#graphics polyline.polynomial {
  stroke: #90ee90; /* lightgreen */
  fill: none;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#graphics polyline.section.golden {
    stroke: rgba(255, 215, 0, 0.1);
}

#graphics polygon:hover, #graphics polygon.hover,
#graphics polyline:hover, #graphics polyline.hover,
#graphics polyline.segment:hover, #graphics polyline.segment.hover {
  stroke: var(--select-color);
  stroke-opacity: 1;
}

#graphics polyline.section:hover {
  stroke: #36c9;
  stroke-opacity: 1;
}

#graphics polyline.section.golden.hover,
#graphics polyline.section.golden:hover {
  stroke-opacity: 1;
  stroke: gold;
}

#highlights .highlight-segment {
  stroke: var(--select-color);
  fill: none;
  stroke-width: 8;
  vector-effect: non-scaling-stroke;
  marker-start: url(#marker);
  marker-end: url(#marker);
}

.bisector {

    stroke-dasharray: 8, 4, 2, 4;

}



#elements .guide {



    stroke: orange;



    stroke-dasharray: 2, 4;



}



#points circle.guide {

    fill: orange;

    stroke-dasharray: none;

}

.light-theme {
    --background-color: #fff;
    --text-color: #000;
    --accent-color: #f0f0f0;
    --select-color: #0ff;
    background-color: var(--background-color);
}

.light-theme #points circle {
  fill: var(--text-color);
  stroke: var(--background-color);
}

.light-theme #points circle.given.selected {
  stroke: var(--select-color);
  fill: var(--background-color);
}

.light-theme #points circle.selected {
  stroke: var(--select-color);
  fill: var(--background-color);
}

.light-theme #points circle.given {
    fill: #090;
}
.light-theme #points circle:hover,
.light-theme #points circle.hover {
    fill: var(--select-color);
}

.light-theme #elements line {
  stroke: #666;
}

.light-theme #elements circle {
  stroke: #f0c;
}

.light-theme #elements line:hover, .light-theme #elements line.hover,
.light-theme #elements circle:hover, .light-theme #elements circle.hover {
  stroke: var(--select-color);
}

.light-theme #elements line.golden {
  stroke: #cc6;
}

.light-theme #elements circle.golden {
  stroke: #cc6;
}

.light-theme #graphics polyline {
  stroke: #36c;
  fill: none;
}

.light-theme #graphics polygon {
  stroke: #36c;
  fill: #36c3;
}

.light-theme #graphics polyline.section {
  stroke: rgba(51, 102, 204, 0.1);
}

.light-theme #graphics polyline.section.golden {
    stroke: rgba(204, 153, 0, 0.1);
}

.light-theme #graphics polygon:hover, .light-theme #graphics polygon.hover,
.light-theme #graphics polyline:hover, .light-theme #graphics polyline.hover,
.light-theme #graphics polyline.segment:hover, .light-theme #graphics polyline.segment.hover {
  stroke: var(--select-color);
}

.light-theme #graphics polyline.section:hover {
  stroke: #36c;
}

.light-theme #graphics polyline.section.golden.hover,
.light-theme #graphics polyline.section.golden:hover {
  stroke: #cc6;
}

.light-theme #highlights .highlight-segment {
  stroke: var(--select-color);
}

.light-theme #elements .guide {
    stroke: orange;
    stroke-dasharray: 2, 4;
}

.light-theme #points circle.guide {
    fill: orange;
    stroke-dasharray: none;
}
