.inspect-viz-table {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.header-center .ag-header-cell-label {
    justify-content: center;
}

.header-left .ag-header-cell-label {
    justify-content: left;
}

.header-right .ag-header-cell-label {
    justify-content: right;
}

.header-justify .ag-header-cell-label {
    justify-content: space-between;
}

/* This disables a hard coded min height fo ag-grid.
This is their recommended approach (!). See 
https://github.com/ag-grid/ag-grid/issues/4095 */
.ag-layout-auto-height .ag-center-cols-container,
.ag-layout-auto-height .ag-center-cols-viewport {
    min-height: 0px !important;
}

.card-body .ag-column-last:after {
    border: none !important;
}