.bslib-sidebar-layout .collapse-toggle {
    right: 0;
}

.toolbar {
    row-gap: 0.7rem;
}

.panel-input {
    display: inline-block;
}

#quarto-content .mosaic-widget {
    margin-bottom: 1rem;
}

.toolbar .mosaic-widget,
.panel-input .mosaic-widget,
.card-toolbar .mosaic-widget,
.toolbar .mosaic-widget label,
.panel-input .mosaic-widget label,
.card-toolbar .mosaic-widget label {
    margin-top: 0;
    margin-bottom: 0;
}


.mosaic-widget .sidebar-fullwidth {
    margin-bottom: 0;
}


.sidebar .mosaic-widget fieldset>legend,
.panel-sidebar .mosaic-widget fieldset>legend {
    margin-bottom: 0.2rem;
}

.sidebar .mosaic-widget label>select,
.panel-sidebar .mosaic-widget label>select,
.sidebar .mosaic-widget .input-search,
.panel-sidebar .mosaic-widget .input-search,
.sidebar .mosaic-widget label>input[type="range"],
.panel-sidebar .mosaic-widget label>input[type="range"],
.panel-sidebar .mosaic-widget .ts-wrapper,
.sidebar .mosaic-widget .ts-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.panel-sidebar .mosaic-widget .sidebar-fullwidth,
.sidebar .mosaic-widget .sidebar-fullwidth,
.panel-sidebar .mosaic-widget .sidebar-fullwidth>*,
.sidebar .mosaic-widget .sidebar-fullwidth>*,
.sidebar .mosaic-widget .sidebar-fullwidth .ts-wrapper,
.panel-sidebar .mosaic-widget .sidebar-fullwidth .ts-wrapper,
.sidebar .mosaic-widget .sidebar-fullwidth .slider-input,
.panel-sidebar .mosaic-widget .sidebar-fullwidth .slider-input {
    width: 100%;
}

.panel-sidebar .mosaic-widget .sidebar-fullwidth .noUi-target,
.sidebar .mosaic-widget .sidebar-fullwidth .noUi-target {
    width: 96% !important;
}

.sidebar .mosaic-widget fieldset,
.panel-sidebar .mosaic-widget fieldset,
.sidebar .mosaic-widget .sidebar-fullwidth label,
.panel-sidebar .mosaic-widget .sidebar-fullwidth label,
.sidebar .mosaic-widget .slider-input,
.panel-sidebar .mosaic-widget .slider-input {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
}

.mosaic-widget>div>div>label {
    min-height: 40px;
}

.mosaic-widget .input-search {
    padding: .375rem .75rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

/* remove small top and bottom margin when widgets appear in cards */
.card-body .mosaic-widget {
    margin: 0;
}

/* remove border from ag-grid wrapper (table) when in card */
.card-body .mosaic-widget .ag-root-wrapper {
    border: none;
}

.card-body .mosaic-widget .inspect-viz-table {
    margin-top: 0;
    height: 100%;
}

.mosaic-widget .inspect-viz-table {
    --ag-foreground-color: var(--bs-body-color);
    --ag-background-color: var(--bs-body-bg);
    --ag-accent-color: var(--bs-primary);
    --ag-font-family: var(--bs-font-sans-serif);
    --ag-font-size: var(--bs-font-size-base);
}

.cell-output-display:not(.no-overflow-x) {
    overflow-x: visible;
}