.ts-wrapper.single {
    cursor: pointer !important;
}

.ts-wrapper.single.input-active .ts-control {
    cursor: pointer !important;
}

.ts-control {
    min-width: 150px;
}

.ts-dropdown.single {
    width: auto !important;
    min-width: 150px !important;
}

.ts-control>input {
    min-width: 5rem;
}