.inspect-tip-container {
  display: grid;
  grid-template-columns: max-content auto;
}

/* Let each row be part of the parent grid */
.inspect-tip-row {
  display: contents;
}

/* Styling for striping */
.inspect-tip-container > .inspect-tip-row:nth-child(even) > * {
  background-color: var(--quarto-scss-export-table-striped-bg, var(--jp-cell-editor-active-background, #f7f7f7));
}

/* Optional padding & border */
.inspect-tip-container > .inspect-tip-row > div:nth-child(1) {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.inspect-tip-container > .inspect-tip-row > div:nth-child(2) {
    padding-right: 0.5em;
}

.inspect-tip-container > .inspect-tip-row  .inspect-tip-color {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    width: .5em;
    height: .5em;
    border-radius: 50%;;
}

.inspect-tip-container > .inspect-tip-row  .inspect-tip-key {
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inspect-tip-container > .inspect-tip-row  .inspect-tip-value {
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tippy-box[data-theme~='inspect'] {
  background-color: var(--bs-body-bg, var(--jp-cell-editor-background, #ffffff));
  color: var(--bs-body-color, var(--jp-content-font-color0, #000000));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.9));
  min-width: 200px;
}

.tippy-box[data-theme~='inspect'] .tippy-content {
  padding: 0 !important;
}

.tippy-box[data-theme~='inspect'] .tippy-arrow:before {
  color: var(--bs-body-bg, var(--jp-cell-editor-background, #ffffff));
  filter: drop-shadow(3 1px 1px rgba(0, 0, 0, 0.9));
  transform: translateY(1.5px); /* Move arrow down to reduce overlap */
}

