:root {
    --font-size: 12px; /* Smaller font size for printing */
    --font-color: #505d6c;
    --measure: 85ch;
    --ratio: 1.2;
    line-height: 1.3rem;
}

body {
  font-size: var(--font-size);
}

h1 {
  font-size: calc(2 * var(--s0));
  font-weight: 600;
}

.job-badges-list li {
  font-size: calc(0.7 * var(--s0));
}

.project-box > p {
  font-size: calc(0.7 * var(--s0));
}

.project-box.invisible {
  opacity: 1;
  transform: translateY(0);
}

.project-badges-list li {
  font-size: calc(0.6 * var(--s0));
}

.avoid-page-break {
    page-break-inside: avoid;
}

.page-break-before {
    page-break-before: always;
}

body {
    background: none;
}

@page {
    margin: 10mm 10mm 15mm;
}

.no-print {
    display: none !important;
}
