@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 antialiased;
}

.animate-gradient-slow {
  background-size: 200% 200%;
  animation: gradient-slow 35s ease infinite;
}

@keyframes gradient-slow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
