[buildout]
develop = .
versions = versions
parts = test
        checker


[versions]
pymongo = 3.12.3
m01.stub = 3.13.2


[test]
recipe = zc.recipe.testrunner
eggs = m01.grid [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/m01/grid
