.bd-page-width {
    max-width: 100% !important;
}

button.sidebar-toggle {
    display: none !important;
}

.document {
    width: 100% !important;
    margin: 50px !important;
}

.body {
    max-width: 100% !important;
}

.bd-sidebar-primary {
    overflow-y: hidden !important;
}

.navbar-brand img {
    max-height: 300px !important;
    max-width: 300px !important;

    height: auto;
    width: 70%;

    min-height: 100px !important;
    min-width: 100px !important;

    margin-bottom: 2rem;
}
